#heading {
    text-align: center;
    font-size:12px;
}
/* Styling for the footer */
 div.footer {
    text-align: center;
}
/* Styling for the overall table */
 table {
    table-layout: fixed;
    border-collapse: collapse;
    /*width: 75%;*/
    margin: 0 auto;
    /*border-collapse: separate;
    empty-cells: hide;*/
}
.title {
    font-weight:bold;
    font-size:x-small;
}
/* Styling for the column headers (days of the week) */
 th {
    padding: 0 0.5em;
    text-align: center;
    background-color:lightgray;
    color:black;
    font-size: xx-small;
}
/* Styling for the individual cells (days) */
 td {
    font-size: small;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
}
/* Styling for the date numbers */
 .date {
    font-size: small;
    text-align: center;
}
td:hover {
    background-color:#F0F0F0!important;
}
/* Styling for events */
.event{
    background-color:red;
    height:12.5px;
    font-size: x-small;
    display: block;
    width: auto;
    -moz-border-radius:2px;
    border-radius: 2px;
    padding-left: 5px;
    color:white;
}
.event:hover{
    opacity: 0.6;
}
.blue{
    background-color: blue;
}